<div class="container">
  <div class="upper-data">
    <img
      src="https://media.istockphoto.com/id/1323823418/nl/foto/low-angle-view-thermometer-on-blue-sky-with-sun-shining.jpg?s=2048x2048&w=is&k=20&c=tgFXiZT4LNHbq65er19AXpyuWA7H7LDCe-jH173rZmM="
      *ngIf="14 > 15"
    />
    <img
      src="https://media.istockphoto.com/id/1257951336/nl/foto/transparante-paraplu-onder-regen-tegen-de-achtergrond-van-de-spatten-van-de-waterdalingen.jpg?s=2048x2048&w=is&k=20&c=3Hjaci8Yj-Sj_wTzG1ekY-4Pjhfr0w8jP2zIGDGRbgU="
      *ngIf="14 <= 15"
    />
  </div>

  <div class="lower-data"></div>
</div>

<router-outlet></router-outlet>
